$main-color: rgb(199, 80, 80);
$light-main-color: rgb(201, 201, 201);
$black: #000;
$pure-white: #fff;
$light-white: #ddd;
$dark-grey: #222;
$hero-shadow: rgba(0, 0, 0, .8);
$hero-custom-shadow: rgba(141, 141, 141, 0.3);